<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Seltzer', 'none')"/>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: header_menu"></div>
    <div th:replace="navigation :: search_nav"></div>
    <div>
        <h1>Shopping</h1>
    </div>

    <div class="container-fluid">
        <div th:replace="navigation :: header_menu"></div>
        <div th:replace="navigation :: search_nav"></div>
        <div th:replace="breadcrumb :: content"></div>

        <div class="row">&nbsp;</div>
        <div class="row">
            <th:block th:each="product : ${details}">
                <div th:replace="product/product_fragment :: content"></div>
            </th:block>
        </div>

<!--        <div class="row">&nbsp;</div>-->
<!--        <div class="row">-->
<!--            <th:block th:each="product : ${listProducts}">-->
<!--                <div th:replace="product/product_fragment :: content"></div>-->
<!--            </th:block>-->
<!--        </div>-->

    <div th:replace="navigation :: footer_menu"></div>
</div>
</body>
</html>